*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #F7F7F7;
}

#topo{
	width:100%;
	height:50px;
    background-color: #FFF059;
	border-bottom: 1px solid yellow;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
	position: absolute;
	top: 0;
}

#topo figure img{
	margin-left: 100px;
	height: 50px;

}

#topo .menu{
	position: absolute;
	right: 20px;
	height: 50px;
	width: 50%;	
}

#topo .menu ul{
	display: inline;
	list-style: none;
}

#topo .menu ul li{
	list-style: none;
	display: inline;
}

.form{
	background-color: #FFF;
	margin: 100px auto;
	width: 50%;
	border: 1px solid rgba(200,200,200,.5);
	border-radius: 1%;
}

.form .campo{
	margin: 30px 0 0 100px; 
}

 .form label{
	font-size:16px;
	font-weight: bold;
	text-align:right:
	
}

.form input{
	height:30px;
	width:30%;
}

.form input[type = "image"]{
	width: 150px;
	height: 40px;
}
